.container{
	width: 1360px;
	background-color: seashell;
}
.flex{
	display: flex;
}
header{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 81px;
}
.color{
	color: darkblue;
}
ul{
	display: flex;
	justify-content: space-around;
	text-transform: uppercase;

}
li{
	font-weight: semibold;
	color: skyblue;
	font-size:15.74px;
	transition-property: all;
	transition-delay: 0.3s;
	transition-duration: 0.7s;
	transition-timing-function: ease;
	font-family: 'Open Sans', sans-serif;
}
li:hover{
	color: orange;
	font-size: 15.90px;
	font-family: 'Open Sans', sans-serif;
}

.navi{
	width: 498px;
	height: 21px;
}
.logo{
	width: 133px;
	height: 31px;
}
