.container{
	width: 1360px;
	background-color: seashell;
	margin: 0 auto;
}
.flex{
	display: flex;
}
header{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 81px;
}
.color{
	color: darkblue;
}
ul{
	display: flex;
	justify-content: space-around;
	text-transform: uppercase;

}
li{
	font-weight: semibold;
	color: skyblue;
	font-size:15.74px;
	transition-property: all;
	transition-delay: 0.3s;
	transition-duration: 0.7s;
	transition-timing-function: ease;
	font-family: 'Open Sans', sans-serif;
}
li:hover{
	color: orange;
	font-size: 15.90px;
	font-family: 'Open Sans', sans-serif;
}

.navi{
	width: 498px;
	height: 21px;
}
.logo{
	width: 133px;
	height: 31px;
}
.backg-img{
	background-image: url(../images/girl.jpg);
	width: 1360px;
	height: 650px;
	background-position: bottom;
	background-size: cover;
	opacity:0.6;
}

h1{
	text-transform: capitalize;
	font-size: 78px;
	color: white;
}
/*h2{
	text-transform: uppercase;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	color: red;
}*/
.divi{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	height: 650px;
}